<div class="error" *ngIf="!this.isLoggedIn">
  <p>You must
    <a routerLink="/">log in </a>
    to view your contacts
  </p>
</div>
<div class="secondary-header" *ngIf="this.isLoggedIn">
  <h2 (onload)="showContacts()">Your Contacts:</h2>
</div>
<div class="contact-container">
  <div class="card" *ngFor="let contact of contacts">
    <div class="name-container">
      <a class="name" routerLink="/contacts/{{contact.id}}">{{contact.name}}</a>
    </div>
    <p class="details">Address:
      <span>{{contact.address}}</span>
    </p>
    <p class="details">Mobile:
      <span>{{contact.mobile}}</span>
    </p>
    <p class="details">Work:
      <span>{{contact.work}}</span>
    </p>
    <p class="details">Home:
      <span>{{contact.home}}</span>
    </p>
    <p class="details">Twitter:
      <span>{{contact.twitter}}</span>
    </p>
    <p class="details">Instagram:
      <span>{{contact.instagram}}</span>
    </p>
    <p class="details">Github:
      <span>{{contact.github}}</span>
    </p>
    <button (click)="deleteContact(contact.id)">Delete</button>
  </div>
</div>