$subFont: 'Monda', Sans-Serif;

.secondary-header {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  h2 {
    margin: 0;
    font-size: 30px;
  }
}

.contact-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: $subFont;
}

.card {
  height: 30%;
  width: 40%;
  border-left: 6px solid #2E8C96;
  padding: 10px;
  margin-bottom: 50px;
  .name-container{
    width: 50%;
    border-bottom: 1px solid #2E8C96;
  .name {
    margin: 0;
    text-decoration: none;
    color: black;
    font-size: 18px;
    }
  }
  p {
    font-size: 14px;
  }
}

.error {
  font-family: $subFont;
  font-size: 24px;
  width: 100%;
  text-align: center;
}

button {
  height: 30px;
  width: 70px;
  font-family: $subFont;
  border: 1px solid black;
  background: transparent;
  font-size: 14px;
  margin: 5px;
  &:hover{
    background: black;
    color: white;
  }
}
