<div class="secondary-header">
  <h2>Register</h2>
</div>
<div class="register-container">
  <form>
    <label for="username">Username:</label>
    <input type="text" name="username" 
    [(ngModel)]="registerFormData.username" >
    <label for="password">Password:</label>
    <input type="password" name="password"
    [(ngModel)]="registerFormData.password">
    <label for="name">Name:</label>
    <input type="text" name="name"
    [(ngModel)]="registerFormData.name">
    <label for="email">Email:</label>
    <input type="text" name="email"
    [(ngModel)]="registerFormData.email">
    <label for="address">Address:</label>
    <input type="text" name="address"
    [(ngModel)]="registerFormData.address">
    <button (click)="register()">Register</button>
  </form>
</div>