<!-- Will display if user tries to access page without logging in -->
<div class="error" *ngIf="!this.isLoggedIn">
    <p>
      Please <a routerLink="/">log in</a> to view your profile
    </p>
  </div>
<div class="secondary-header" *ngIf="this.isLoggedIn">
  <h2>Add a Contact</h2>
</div>
<form *ngIf="this.isLoggedIn">
  <div class="input-form">
    <label for="name">Name: </label><span>{{ getNameErrors() }}</span>
    <input type="text" name="name" [(ngModel)]="formData.name" (keyup)="validateName()">
    <label for="address">Address:</label>
    <input type="text" name="address" [(ngModel)]="formData.address">
    <label for="work">Work Number:</label>
    <input type="text" name="work" [(ngModel)]="formData.work">
    <label for="home">Home Number:</label>
    <input type="text" name="home" [(ngModel)]="formData.home">
    <label for="email">Email: </label><span>{{ getEmailErrors() }}</span>
    <input type="text" name="email" [(ngModel)]="formData.email" (keyup)="validateEmail()">
    <label for="twitter">Twitter:</label>
    <input type="text" name="twitter" [(ngModel)]="formData.twitter">
    <label for="instagram">Instagram:</label>
    <input type="text" name="instagram" [(ngModel)]="formData.instagram">
    <label for="github">Github:</label>
    <input type="text" name="github" [(ngModel)]="formData.github">
  </div>
  <button (click)="submitForm()" [disabled]="submitDisabled()">Save Contact</button>
</form>