<div class="error" *ngIf="isLoggedIn">
  <p>You are already logged in!</p>
</div>
<div class="secondary-header" *ngIf="!isLoggedIn">
  <h2>Login</h2>
</div>
<form *ngIf="!isLoggedIn">
  <div class="login-container">
    <div class="login-error">{{loginError}}</div>
    <label for="username">Username:</label>
    <input type="text" name="username" [(ngModel)]="loginFormData.username">
    <label for="password">Password:</label>
    <input type="password" name="password" [(ngModel)]="loginFormData.password">
  </div>
  <button (click)="login()" [disabled]="submitDisabled()">Login</button>
</form>