<!-- Will display if user tries to access page without logging in -->
<div class="error" *ngIf="!this.loggedIn">
  <p>
    Please <a routerLink="/">log in</a> to view your profile
  </p>
</div>
<!-- Happy path -->
<div class="content-body" *ngIf="this.loggedIn">
  <div class="secondary-header" *ngIf="!this.editing">
    <h2>{{this.user.username}}'s profile</h2>
  </div>

  <!-- Displays if editing toggle is turned off -->
  <div class="profile-container" *ngIf="!this.editing">
    <div class="user-labels">
      <label>
        Name:
        <p>{{this.userProfile.name}}</p>
      </label>
    </div>
    <div class="user-labels">
      <label>
        Email:
        <p>{{this.userProfile.email}}</p>
      </label>
    </div>
    <div class="user-labels">
      <label>
        Address:
        <p>{{this.userProfile.address}}</p>
      </label>
    </div>
    <button (click)="toggleEdit()">Edit</button>
  </div>

  <!-- Editing body -->
  <div class="edit-container" *ngIf="this.editing">
    <div class="secondary-header">
      <h2>Editing {{this.user.username}}'s Profile</h2>
    </div>
    <form>
      <label for="name">Name:</label>
      <input type="text" name="name" [(ngModel)]="editFormData.name">
      <label for="email">Email:</label>
      <input type="text" name="email" [(ngModel)]="editFormData.email">
      <label for="address">Address:</label>
      <input type="text" name="address" [(ngModel)]="editFormData.address">
      <div class="buttons">
        <button (click)="submitEdit()">Submit</button>
        <button (click)="toggleEdit()">Cancel</button>
      </div>
    </form>
  </div>
</div>