/* You can add global styles to this file, and also import other style files */
$mainFont: 'Julius Sans One', Sans-Serif;
$subFont: 'Monda', Sans-Serif;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  font-family: $mainFont;
  background-color: whitesmoke;
}

